In [ ]:
Predicting Survival in the Titanic Data Set
We will be using a decision tree to make predictions about the Titanic data
set from Kaggle. This data set provides information on the Titanic
passengers and can be used to predict whether a passenger survived or
not.
Loading Data and modules
import numpy as np
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt
import sklearn
from pandas import Series, DataFrame
from pylab import rcParams
from sklearn import preprocessing
from sklearn.linear_model import LogisticRegression
from sklearn.cross_validation import train_test_split
from sklearn import metrics

from sklearn.metrics import classification_report
Url=

https://raw.githubusercontent.com/BigDataGal/Python-for-Data-
Science/master/titanic-train.csv

titanic = pd.read_csv(url)
titanic.columns =
['PassengerId','Survived','Pclass','Name','Sex','Age','SibSp','Parch','Ti
cket','Fare','Cabin','E mbarked']
You use only Pclass, Sex, Age, SibSp (Siblings aboard), Parch
(Parents/children aboard), and Fare to predict whether a passenger
survived.

In [1]:
import numpy as np
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt
import sklearn
from pandas import Series, DataFrame
from pylab import rcParams
from sklearn import preprocessing
from sklearn.linear_model import LogisticRegression
from sklearn import metrics
from sklearn.metrics import classification_report

In [2]:
df=pd.read_csv('https://raw.githubusercontent.com/BigDataGal/Python-for-Data-Science/master/titanic-train.csv')

In [3]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [18]:
from sklearn.tree import DecisionTreeClassifier
from sklearn import tree
from sklearn.model_selection import GridSearchCV,train_test_split

In [11]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [4]:
df=df.drop(columns=['PassengerId','Name','Ticket','Cabin','Embarked'],axis=1)

In [58]:
df

     Survived  Pclass     Sex   Age  SibSp  Parch     Fare
0           0       3    male  22.0      1      0   7.2500
1           1       1  female  38.0      1      0  71.2833
2           1       3  female  26.0      0      0   7.9250
3           1       1  female  35.0      1      0  53.1000
4           0       3    male  35.0      0      0   8.0500
..        ...     ...     ...   ...    ...    ...      ...
886         0       2    male  27.0      0      0  13.0000
887         1       1  female  19.0      0      0  30.0000
888         0       3  female   NaN      1      2  23.4500
889         1       1    male  26.0      0      0  30.0000
890         0       3    male  32.0      0      0   7.7500

[891 rows x 7 columns]

In [59]:
df.isnull().sum()

Survived      0
Pclass        0
Sex           0
Age         177
SibSp         0
Parch         0
Fare          0
dtype: int64

In [40]:
df.Age

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
886    27.0
887    19.0
888     NaN
889    26.0
890    32.0
Name: Age, Length: 891, dtype: float64

In [5]:
df['Age'].fillna(value=df['Age'].mean(),inplace=True)

In [70]:
df.isnull().sum()

Survived    0
Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
dtype: int64

In [6]:
df['sex']=df['Sex'].replace({'male':0,'female':1})

In [81]:
df.sex

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    1
889    0
890    0
Name: sex, Length: 891, dtype: int64

In [7]:
df.drop(columns='Sex')

     Survived  Pclass        Age  SibSp  Parch     Fare  sex
0           0       3  22.000000      1      0   7.2500    0
1           1       1  38.000000      1      0  71.2833    1
2           1       3  26.000000      0      0   7.9250    1
3           1       1  35.000000      1      0  53.1000    1
4           0       3  35.000000      0      0   8.0500    0
..        ...     ...        ...    ...    ...      ...  ...
886         0       2  27.000000      0      0  13.0000    0
887         1       1  19.000000      0      0  30.0000    1
888         0       3  29.699118      1      2  23.4500    1
889         1       1  26.000000      0      0  30.0000    0
890         0       3  32.000000      0      0   7.7500    0

[891 rows x 7 columns]

In [24]:
df

     Survived  Pclass     Sex        Age  SibSp  Parch     Fare  sex
0           0       3    male  22.000000      1      0   7.2500    0
1           1       1  female  38.000000      1      0  71.2833    1
2           1       3  female  26.000000      0      0   7.9250    1
3           1       1  female  35.000000      1      0  53.1000    1
4           0       3    male  35.000000      0      0   8.0500    0
..        ...     ...     ...        ...    ...    ...      ...  ...
886         0       2    male  27.000000      0      0  13.0000    0
887         1       1  female  19.000000      0      0  30.0000    1
888         0       3  female  29.699118      1      2  23.4500    1
889         1       1    male  26.000000      0      0  30.0000    0
890         0       3    male  32.000000      0      0   7.7500    0

[891 rows x 8 columns]

In [25]:
feature_cols=['Pclass','sex','Age','SibSp','Parch','Fare']
X=df[feature_cols]
y=df.Survived

In [38]:
from sklearn.preprocessing import StandardScaler

In [85]:
scalar = StandardScaler()
x_transform = scalar.fit_transform(X)

In [86]:
x_train,x_test,y_train,y_test = train_test_split(x_transform,y,test_size = 0.30, random_state= 355)
clf = DecisionTreeClassifier()
clf.fit(x_train,y_train)
clf.score(x_test,y_test)

0.7350746268656716

In [87]:
grid_param = {
    'criterion': ['gini', 'entropy'],
    'max_depth' : range(2,32,1),
    'min_samples_leaf' : range(1,10,1),
    'min_samples_split': range(2,10,1),
    'splitter' : ['best', 'random']
    
}

In [88]:
grid_search = GridSearchCV(estimator=clf,
                     param_grid=grid_param,
                     cv=5,
                    n_jobs =-1)

In [89]:
grid_search.fit(x_train,y_train)

GridSearchCV(cv=5, estimator=DecisionTreeClassifier(), n_jobs=-1,
             param_grid={'criterion': ['gini', 'entropy'],
                         'max_depth': range(2, 32),
                         'min_samples_leaf': range(1, 10),
                         'min_samples_split': range(2, 10),
                         'splitter': ['best', 'random']})

In [90]:
best_parameters = grid_search.best_params_
print(best_parameters)

{'criterion': 'gini', 'max_depth': 28, 'min_samples_leaf': 3, 'min_samples_split': 2, 'splitter': 'random'}

In [81]:
grid_search.best_score_

0.8266451612903227

In [91]:
clf = DecisionTreeClassifier(criterion = 'gini', max_depth =28, min_samples_leaf= 3, min_samples_split= 2, splitter ='random')
clf.fit(x_train,y_train)

DecisionTreeClassifier(max_depth=28, min_samples_leaf=3, splitter='random')

In [92]:
clf.score(x_test,y_test)

0.7910447761194029

In [93]:
clf.score(x_train,y_train)

0.8298555377207063