In [ ]:
Problem Statement 1:
Is gender independent of education level? A random sample of 395 people were
surveyed and each person was asked to report the highest education level they
obtained. The data that resulted from the survey is summarized in the following table:
High School Bachelors Masters Ph.d. Total
Female 60 54 46 41 201
Male 40 44 53 57 194
Total 100 98 99 98 395
Question: Are gender and education level dependent at 5% level of significance? In
other words, given the data collected above, is there a relationship between the
gender of an individual and the level of education that they have obtained?

In [1]:
import scipy.stats as st
import numpy as np
import pandas as pd

In [2]:
alpha=0.05
chi2,p,dof,expected=st.chi2_contingency([[60,54,46,41],[40,44,53,57]])
if p<alpha:
    print("Null Hypothesis is rejected(Gender and education level are dependent.)")
else:
    print('Null Hypothesis is accepted(Gender and education level are independent.)')

Null Hypothesis is rejected(Gender and education level are dependent.)

Problem Statement 2:
Using the following data, perform a oneway analysis of variance using Î±=.05. Write
up the results in APA format.

[Group1: 51, 45, 33, 45, 67]
[Group2: 23, 43, 23, 43, 45]
[Group3: 56, 76, 74, 87, 56]

In [3]:
alpha=0.05
group1=[51, 45, 33, 45, 67]
group2=[23, 43, 23, 43, 45]
group3=[56, 76, 74, 87, 56]

In [6]:
f,p=st.f_oneway(group1,group2,group3)
print("F-value is :",f)
print("p-value is :",p)
if p<alpha:
    print("Null Hypothesis is rejected(mean1!=mean2!=mean3)")
else:
    print("Null Hypothesis is accepted(mean1=mean2=mean3)")

F-value is : 9.747205503009463
p-value is : 0.0030597541434430556
Null Hypothesis is rejected(mean1!=mean2!=mean3)

Problem Statement 3:
Calculate F Test for given 10, 20, 30, 40, 50 and 5,10,15, 20, 25.
For 10, 20, 30, 40, 50:

In [5]:

s1=[10,20,30,40,50]
s2=[5,10,15,20,25]
f,p=st.f_oneway(s1,s2)
print("F-value is :",f)
print("p-value is :",p)

F-value is : 3.6
p-value is : 0.0943497728424377